* {
    font-family: "Poppins", sans-serif;
    margin: 0;
    padding: 0;
}

.title-section {
    font-size: 55px;
    font-weight: 900;
    text-transform: none;
    padding-bottom: 5%;
}

section.product {
    padding-top: 5%;
    padding-left: 6%;
    padding-right: 6%;
    padding-bottom: 5%; 
}

.wrapper {
    display: flex;
    gap: 5%;
}

section article {
    width: calc(100%/3);
}

section article figure {
    width: 100%;
}

section article figure img {
    width: 100%;
}

.icons {
    text-align: center;
}

.cart-btn {
    display: inline-block;
    margin-top: 1rem;
    border-radius: 4px;
    background: #f9d805;
    color:black;
    padding: 8px 16px;
    cursor: pointer;
    font-size: 1.5rem;
    text-align: center;
    font-weight: bold;
}

.cart-btn:hover {
  background-color: #f00909;
}

.wrapper h3 {
    margin-top: 5%;
}